Acme-HackerRank/target/
Acme-HackerRank/src/main/resources/Entities.map
Acme-HackerRank/.classpath
Acme-HackerRank/.project
Acme-HackerRank/bin/

Sample Project 1.19/target/
Sample Project 1.19/src/main/resources/Entities.map
Sample Project 1.19/.classpath
Sample Project 1.19/.project
Sample Project 1.19/bin/
